# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = announcement_distribute.settings

[deploy:scrapyd1]
url = http://192.168.31.99:6800/addversion.json
project = announcement_distribute
username = hezudao
password = hezudao
